<div class="apply">
  <h4 class='apply'>New application form</h4>
  <p class='new'><%= render 'form', aplication: @aplication %></p>
  <p class='new'><%= link_to 'Back', aplications_path %></p>
</div>
