<div class="message">
  <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> Hello <%=current_user.first_name %>! Please feel free to contuct our Instructors through any of the available options
  </div>
</div>
<div class="order">
<div class="card">
    <%= image_tag ('/assets/img/driving1.jpg'), class: 'instructor_img' %>
  <h2> Innocent Phiri</h2>
  <p class="title">John holds a class PSV licence with 10 years of teaching experience</p>
  <p><strong>Manual Driving Section</strong></p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Message</button></p>
</div>

<div class="card">
  <%= image_tag ('/assets/img/driving1.jpg'), class: 'instructor_img' %>

  <h2>James Ngoma</h2>
  <p class="title">John holds a class C licence with 6 years of teaching experience</p>
  <p><strong>Automatic Driving Section</strong></p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Message</button></p>
</div>

<div class="card">
  <%= image_tag ('/assets/img/driving1.jpg'), class: 'instructor_img' %>
  <h2>Trevor Sichone</h2>
  <p class="title"> John holds a PSV licence with 10 years of teaching experience</p>
  <p><strong>Manual Driving Section</strong></p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Message</button></p>
</div>
</div>
