<div class="section1">
 <div class="row">
  <div class="col-lg-6">
    <h3>Welcome to Sugoi Driving School...Where professional drivers are born!</h3>
      <button type="button" class="btn btn-info btn-sm download-btn"> Link1</button>
      <button type="button" class="btn btn-dark btn-sm download-btn"> Link2</button>
      </div>
    <div class="col-lg-6">
    <%= image_tag ('/assets/img/driving1.jpg'), class: 'driving-image__img' %>
    </div>
  </div>
</div>
<hr>
<div class="skills">
  <h3>My Skills.</h3>
    <div class="skill-row">
      <%= image_tag ('/assets/img/automatic1.jpg'), class: 'auto-image__img' %>
        <h3>Lorem & Ipsum</h3>
        <p class="para2"class>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
            Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna.</p>
         </div>
          <div class="skill-row">
           <%= image_tag ('/assets/img/manual.jpg'), class: 'manu-image__img'%>
              <h3>Lorem Ipsum Dolor</h3>
            <p class="para3">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
          </div>
        </div>
     <hr>

  <div class="contact-me">
      <h3>Get In Touch</h3>
      <h4>Lorem ipsum dolor sit amet, non elit.</h4>
      <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
      <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
  </div>
