
<div class="top-container">
  <div class="intro">
    <% if current_user %>
    <div class="message">
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> Hello!</strong> <%=current_user.first_name %>! Welcome to the home of professional driving...
      </div>
    </div>
  <%end%>
      <!-- <p class='welcome'>Welcome to the home of professional driving</p> -->
      <%= image_tag ('/assets/img/driving1.jpg'), class: 'driving-image__img' %>
   </div>
<hr>
<div class="skills">
  <h3 class='hwords'>Courses Categories</h3>
    <div class="skill-row">
      <%= image_tag ('/assets/img/automatic1.jpg'), class: 'auto-image__img' %>
        <h3 class='hwords'>Automatic Courses</h3>
        <p class="para2"class>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.
            Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna.</p>
         </div>
          <div class="skill-row">
           <%= image_tag ('/assets/img/manual.jpg'), class: 'manu-image__img'%>
              <h3 class='hwords'>Manual Courses</h3>
            <p class="para3">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
          </div>
        <hr>
   <div class="Contact-Us">
      <h3 class='hwords'>Get In Touch</h3>
      <h4>Lorem ipsum dolor sit amet, non elit.</h4>
      <p>Lorem ipsum dolor sit amet, in quis, aenean amet.</p>
      <a class='click' href="mailto:name@email.com">CONTACT US</a>
   </div>
