<div class="row justify-content-center">
  <div class="col-3">
    <div class="container">

      <p id="notice"><%= notice %></p>
      <p>
        <strong>Course category:</strong>
        <%= @course_application.category %>
      </p>

      <%= link_to 'Edit', edit_course_application_path(@course_application) %> |
      <%= link_to 'Back', course_applications_path %>
    </div>
  </div>
</div>
