html, body {
  height: 100%;
  margin: 0;
  color: white;
}

.fa-user{padding-top: 12px;
         margin-left: 70%;

}
.navbar{
  padding-top: 6px;
  background-color: #28abb9;
  color: #fff;

}
.navbar-link:focus, .navbar-link:hover{
  background: #3071a9;
  color: #fff;
}

.navbar-link:hover{
  background: #3071a9;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: darken(#d9534f,20%) !important;

}

.btn-primary:hover, .btn-primary:focus {
  background-color: darken(#428bca,20%) !important;

}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.driving-image__img{
  width: 80%;
  padding-top: 20px;
  height: 70%;
  text-align: center;
}

.footer,.bottom-container {
  background-color: #f6f6f6;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 30px;
}


.footer-link{
  margin: 20px 10px auto 10px;
  text-decoration: none;
  color: #11999E;
  line-height: 2;
  text-align: center;

   }
.Contact-Us{
  width: 50%;
  line-height: 2;
  text-align: center;
  text-emphasis-style: filled;
  margin-left: 25%;
  margin-bottom: 100px;
  padding-bottom: 200px;
   }
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
   }

.skills{
  text-align: center;
   }

hr{
  border: dotted brown 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
  }
.driving-image__img{
  border-radius: 50%;
  width: 40rem;
  // margin-right: 40%;

  }
.manu-image__img{
  float: left;
  border-radius: 50%;
  width: 20rem;
   }
.auto-image__img{
   border-radius: 50%;
   width: 20rem;
   float: right;
   }
.intro{
  width: 100%;
  border-radius: 50%;
  margin-right: 15%;
  padding-top: 40px;
  text-align: center;
  }
.top-courses{
  padding-top: 150px;
}
.sign{
  width: 300px;

}

.comment{
  width: 300px;
  margin-left: 40%;
  padding-bottom: 150px;
  padding-top: 90px;
}
.comment_section{
  display: inline;

}
.page1{
  padding-top: 20px;
  width: 200px;
  margin-left: 40%;
  padding-bottom: 110px;
}
