html, body {
  height: 100%;
  margin: 0;

}

.click{
  color:  blue;
  font-weight: 400;
}
.search-button {
  background-color: #28abb9;
  color: #fff;
  font-size: inherit;
  text-decoration: none;
  margin: auto 15px;
}
.search-button:hover {
  background-color: #fff;
  color: #28abb9;
}

.search{
  margin-left: 40%;
}
.hwords{
  font-weight: 500;
  color:  #91091e;
  font-family: 'Shadows Into Light', cursive;
}
.fa-user{
  padding-top: 15px;
  margin-left: 70%;

}

.fa{
  margin: auto 4px;
}
.fas{
  margin: auto 8px;
}
.navbar{
  padding-top: 6px;
  background-color: #28abb9;
  color: #fff;
  height: 10%;

}
.navbar-link:focus, .navbar-link:hover{
  background: #3071a9;
  color: #fff;
}

.navbar-link:hover{
  background: #3071a9;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: darken(#d9534f,20%) !important;

}

.btn-primary:hover, .btn-primary:focus {
  background-color: darken(#428bca,20%) !important;

}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.driving-image__img{
  width: 80%;
  padding-top: 20px;
  height: 70%;
  text-align: center;
}
.nav-link{
  margin-left: 30%;
  color: #11999E;
  font-weight: 500;
  font-size: 1.0rem;

 }

.hello{
  color: #11999E;
}
.welcome{
  color: #91684a;
  font-style: oblique;
  font-size: 1.3rem;
}

.table-head{
  font-weight: 500;
  font-size: 1.0rem;
  color: #91684a!important;
  border: none;
}

.flash{
  margin-bottom: 1px;
  position: absolute;
  display: inline;
  padding-left: 20px;
  margin-left: 20%
}
.footer,.bottom-container {
  background-color: #eeeeee;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 30px;
}

.footer-link{
  margin: 20px 10px auto 10px;
  text-decoration: none;
  color: #23689b;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;

}
.Contact-Us{
  width: 50%;
  line-height: 2;
  text-align: center;
  text-emphasis-style: filled;
  margin-left: 25%;
  margin-bottom: 100px;
  padding-bottom: 100px;
  font-family: 'Shadows Into Light', cursive;
   }
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
  }

.skills{
  text-align: center;

  }

hr{
  border: dotted brown 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
  }
.driving-image__img{
  border-radius: 50%;
  width: 40rem;
  }
.manu-image__img{
  float: left;
  border-radius: 50%;
  width: 20rem;

  }
.auto-image__img{
  border-radius: 50%;
  width: 20rem;
  float: right;

  }
.intro{
  width: 100%;
  border-radius: 50%;
  margin-right: 15%;
  padding-top: 40px;
  text-align: center;

  }
.top-courses{
  padding-top: 30px;
  margin-left: 10%;
  margin-bottom: 15%;
 }
.sign{
 width: 300px;

}
.sort_link{
 color: blue;

}

.comment{
 width: 100px;
  margin-left: 30%;
  padding-bottom: 150px;
  padding-top: 10px;
}
.comment_section{
  display: inline;

}
.apply{
  margin-left: 30%;
  width: 300px;
  padding-bottom: 120px;
}
.page1{
  padding-top: 20px;
  width: 200px;
  margin-left: 40%;
  padding-bottom: 110px;
}
.thumbnail{
margin-bottom: 40%;
height: 10%;
width: 55%;
}

.instructor_img{
  width: 70%;
  height: 60%;

}

.order{
  padding-top: 10px;
  margin-left: 15%;
  display: inline-table;
  padding-bottom: 10%;

}
.top{
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color:  #91091e;
  font-family: 'Shadows Into Light', cursive;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: inline-table;
  margin: auto 10px;
  text-align: center;
}

.title {
  color: #11999E;
  font-size: 14px;

}

.back{
  margin-left: 3%;
}

.new{
  text-align: center;

}
.move{
 margin-left: 41%;
 width: 100%;
 color: #11999E;
 font-weight: 700;
 font-family: 'Shadows Into Light', cursive;

}
.navbar-brand,.nav{
 color: white;
 font-family: 'Architects Daughter', cursive;
 font-size: 1.4rem;
}
.navbar li a, .navbar .navbar-brand {
 color: #fff !important;
}

.profile{
  margin-left: 40%;
  color: white;
  background-color: #11999E;
  margin-top: 5%;
  width: 310px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #11999E;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.message{width: 30%;
         margin-left: 32%;

}

.sidebar {
  height: 70%;
  width: 160px;
  position: fixed;
  margin-bottom: 40%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #28abb9;
  overflow-x: hidden;
  margin-left: 2px;
  margin-top: 4%;

}

.sidebar a  {
  padding: 6px 10px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:  white;
  display: block;

}

.bar{
  font-family: 'Shadows Into Light', cursive;
}

.sidebar a:hover {
  color: black;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.name{
  color: black;
}
.page{
  padding-top: 20px;
  margin-left: 40%;
  padding-bottom: 110px;
  width: 300px;
  color: #91091e;

}
